
body {
    background-color: linen;
} 

.container{
    display:grid;

} 

.texto {
    padding-left: 40%;
    padding-top: 2%;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form {
    width: 450px;
  }

.boton {
    padding-left:40%;
}

