


@media (min-width:720px) {
    [class*="skill-img"]{
        width: 70px;
    }
    .titulo{
        font-size: 95px;;
    }
    .subtitulo{
        font-size: 45px;
    }

    .my-descrp{
        font-size: 25px;
    }

    .hero-contacto{
        font-size: 30px;
    }

    .my-descrp-title, .title-proyects, .title-skills, .my-skills-title{
        font-size: 40px;
    }

}

@media (max-width:719px) {
    [class*="col-1"]{
        width: 20%;
    }
    [class*="skill-img"]{
        width: 50px;
    }
    .titulo{
        font-size: 70px;
    }
    .subtitulo{
        font-size: 30px;
    }

    .my-descrp{
        font-size: 22px;
    }

    .hero-contacto{
        font-size: 25px;
    }
    
    .my-descrp-title, .title-proyects, .title-skills, .my-skills-title{
        font-size: 30px;
    }

}

@media (max-width:560px){
    [class*="col-1"]{
        width: 25%;
        height: 25%;
    }
    [class*="skill-img"]{
        width: 60px;
        margin-bottom:50px;
    }
    [class*="skill-img"]{
        width: 30px;
    }

    .my-descrp-title, .title-skills, .my-skills-title{
        font-size: 25px;
    }
    .title-proyects{
        font-size: 20px;
    }

    .titulo{
        font-size: 50px;
    }
    .subtitulo{
        font-size: 25px;
    }

    .all-skils{
        font-size: 15px;
    }

    .html, .css, .js, .angular, .mysql{
        max-height: 40px;
    }

    .cont-skills{
        max-height: 40px;
    }
    .skills{
        font-size: 25px;
    }

}

@media (max-width:460px) {
    [class*="col-1"]{
        width: 20%;
    }
    [class*="skill-img"]{
        width: 35px;
        margin-bottom:50px;
    }
    .titulo{
        font-size: 40px;
    }
    .subtitulo{
        font-size: 20px;
    }

    .hero-contacto{
        font-size: 14px;
    }
    
    .my-descrp-title, .title-proyects, .title-skills, .my-skills-title{
        font-size: 15px;
    }

    .all-skils{
        font-size: 15px;
    }
    .html, .css, .js, .angular, .mysql{
        max-height: 30px;
    }
    .cont-skills{
        max-height: 30px;
    }
    .skills{
        font-size: 20px;
    }

}

@media (max-width: 350px){
    [class*="col-1"]{
        width: 20%;
        height: 25%;
    }
    [class*="skill-img"]{
        width: 25px;
        margin-bottom:50px;
    }
    .titulo{
        font-size: 30px;
    }
    .subtitulo{
        font-size: 10px;
    }

    .my-descrp-title, .title-proyects, .title-skills, .my-skills-title{
        font-size: 10px;
    }

    .all-skils{
        font-size: 13px;
    }
    .html, .css, .js, .angular, .mysql{
        max-height: 20px;
    }
    .cont-skills{
        max-height: 20px;
    }
    .skills{
        font-size: 15px;
    }

}