


@media (min-width:720px) {
    [class*="skill-img"]{
        width: 70px;
    }
    [class*="img-responsive"]{
        height: 85%;
    }
    body{
        font-size: 14px;
    }

}

@media (max-width:719px) {
    [class*="col-1"]{
        width: 20%;
    }
    [class*="skill-img"]{
        width: 50px;
    }
   
    body{
        font-size: 11px;
    }

}

@media (max-width:560px){
    [class*="col-1"]{
        width: 25%;
        height: 25%;
    }
    [class*="skill-img"]{
        width: 60px;
        margin-bottom:50px;
    }
    [class*="skill-img"]{
        width: 30px;
    }

    body{
        font-size: 9px;
    }

}

@media (max-width:460px) {
    [class*="col-1"]{
        width: 20%;
    }
    [class*="skill-img"]{
        width: 35px;
        margin-bottom:50px;
    }
   
    body{
        font-size: 6px;
    }
}

@media (max-width: 350px){
    [class*="col-1"]{
        width: 20%;
        height: 25%;
    }
    [class*="skill-img"]{
        width: 1.5625em;
        margin-bottom:50px;
    }

    body{
        font-size: 6px;
    }

}
