
@media (max-width: 990px) {
    [class*="img-responsive"]{
        height: 105%;
    }

}

@media (min-width:720px) {
    [class*="skill-img"]{
        width: 70%;
    }
    [class*="img-responsive"]{
        height: 50%;
    }
    body{
        font-size: 14px;
    }

}

@media (max-width:719px) {
    [class*="col-1"]{
        width: 20%;
    }
    [class*="skill-img"]{
        width: 50px;
    }
    [class*="img-responsive"]{
        height: 40%;
        margin-left: 30%;
    }
   
    body{
        font-size: 11px;
    }

}

@media (max-width:560px){
    [class*="col-1"]{
        width: 25%;
        height: 25%;
    }
    [class*="skill-img"]{
        width: 45px;
        margin-bottom: 80%;
    }

    [class*="img-responsive"]{
        height: 45%;
        margin-left: 30%;
    }

    body{
        font-size: 9px;
    }

}

@media (max-width:460px) {
    [class*="col-1"]{
        width: 10%;
    }
    [class*="skill-img"]{
        width: 35px;
        margin-bottom:50px;
    }

    [class*="img-responsive"]{
        height: 40%;
        margin-left: 30%;
    }
   
    body{
        font-size: 6px;
    }
}

@media (max-width: 350px){
    [class*="col-1"]{
        width: 20%;
        height: 25%;
    }
    [class*="skill-img"]{
        width: 110%;
        margin-bottom:40px;
    }
    [class*="img-responsive"]{
        height: 40%;
        margin-left: 30%;
    }

    body{
        font-size: 6px;
    }

    .title-proyects{
        font-size: 10px;
    }
    .my-skills-title{
        font-size: 15px;
    }

    .hero-skills{
        margin-top: -25%;
    }

}
